.about-section {
  p {
    font-size: 70px;
    line-height: 1.12;
    opacity: 0;
    padding: 5rem 2rem 0;
    text-align: center;
      @media screen and (max-width: 1000px) {
    font-size: 50px;
  }

  @media screen and (max-width: 750px) {
   font-size: 25px;
  }

    > div {
      opacity: 0;
      transform: translateY(0px);
    }
    &.is-reveal {
      opacity: 1;
    }
  }
  // margin-bottom: 250px;

}

.section-header{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Syncopate', sans-serif;
  color: #606060;
  margin-top: 400px;

  @media screen and (max-width: 1000px) {
      margin-top: 500px;
    
  }

  @media screen and (max-width: 750px) {
    margin-top: 200px;
  }
}
