.hero-container {
  color: #efefef;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8rem;
  padding: 0 3.2rem;

  @media screen and (max-width: 750px) {
    padding: 0 1rem;
    height: 100%;
  }

  .hero-header {
    display: flex;
    justify-content: space-between;

    .logo {
      background-color: #fff;
      color: #fff;
      border-radius: 50%;
      width: 2.2rem;
    }

    .hamburger{
      font-size: 1.6rem;
    }

    @media screen and (max-width: 750px) {
     padding-top: 1.5rem;
    }
  }

  .hero-collage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;

    @media screen and (max-width: 750px) {
     justify-content: center;
    }

    .hero-circle-left {
      position: relative;


      .circle-first-child {
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;

      }
      .circle-second-child {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;

      }
    }

    .hero-circle-right {
      position: relative;


      .circle-first-child {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
      }

      .circle-second-child {
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
      }
    }
  }

  .hero-phone-block {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;

    @media screen and (max-width: 750px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .hero-phone-template {
      position: relative;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 5px solid rgba(255, 255, 255, 1);
      transform: scale(1);

      @media screen and (max-width: 750px) {
        border: none;
        width: 100%;
      }


      .middle-circle {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;


        .inside-wrapper {
          position: relative;
          top: 100px;
        }
        .hood {
          width: 9.3rem;
          height: 9.3rem;
          position: absolute;
          background-color: #aeaeaf;
          top: -205px;
          left: 25%;
          transform: rotate(45deg);
          border-radius: 55px;
        }
        .hood::after {
          content: "";
          width: 129px;
          top: 16px;
          height: 129px;
          position: absolute;
          background-color: #000000;
          border-top-left-radius: 120px;
          border-top-right-radius: 45px;
          border-bottom-left-radius: 45px;
          border-bottom-right-radius: 50px;
          left: 17px;
        }
        .spects {
          width: 100px;
          height: 50px;
          transform: rotate(135deg);
          position: absolute;
          top: 58px;
          left: 33px;
          z-index: 5;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .spects span {
          width: 43px;
          height: 27px;
          background-color: #5d5959;
          border: solid 2px #cccaca;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
        .shoulder {
          width: 300px;
          height: 210px;
          background-color: #aeaeaf;
          border-radius: 50%;
          top: -55px;
          position: absolute;
        }
        .neck {
          background-color: grey;
          width: 20%;
          height: 17%;
          border-bottom-left-radius: 40px;
          border-bottom-right-radius: 40px;
          margin: 2px auto;
          display: flex;
          justify-content: center;
        }
        .neck::after {
          content: "";
          position: absolute;
          background-color: #000000;
          width: 17%;
          height: 12%;
          margin: -3px auto;
          border-bottom-left-radius: 40px;
          border-bottom-right-radius: 40px;
        }

        .lap-screen {
          width: 300px;
          height: 180px;
          background: #313131;
          border-radius: 10px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .lap-screen::after {
          content: "";
          background-color: white;
          border-bottom: solid 20px white;
          border-left: solid 10px #313131;
          border-right: solid 10px #313131;
        }
        .base {
          position: absolute;
          bottom: -9px;
          background-color: black;
          width: 100%;
          height: 8px;
          border-radius: 2px;
        }
        .base::after {
          content: "";
          width: 70%;
          position: absolute;
          height: 5px;
          background-color: black;
          top: -3px;
          left: 15%;
        }
        body {
          height: 100vh;
          display: flex;
          align-items: center;
          overflow: hidden;
          justify-content: center;
        }

        .overlay {
          width: 100vw;
          height: 100vh;
          background-color: #004e00;
          position: absolute;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 72px;
        }
        @media (max-width: 900px) {
          .overlay {
            font-size: 36px;
          }
        }
      }
    }
  }

  .hero-footer{
    width: 100%;
    height: 100%;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    color: #fff;

    .nav ul {
      display: flex;
      gap: 2rem;
      
    }

    .hero-socials{
      font-size: 1.4rem;
      display: flex;
      gap: 1rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero-phone-template{
    width: 600px !important;
    height: 600px !important;
  }
  .hero-description {
    line-height: 1.5;
    h1 {
      font-size: 4rem;
      font-weight: 600;
      padding-bottom: 0.8rem;
    }
    p {
      font-size: 12px;
      padding-left: 2rem;
    }
    .hero-name {
      font-size: 1.2rem;
      font-weight: 500;
      padding-bottom: 0.5rem;
    }

  }
 
  .hero-circle-left
  .hero-circle-right {
    width: 200px ;
    height: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .left-column,
  .right-column {
    display: none;
  }
  .hero-description{
    max-width: 180px;
  }
}

    @media screen and (max-width: 750px) {
      .hero-description{
        max-width: 100%;
        font-size: 1.2rem;
        line-height: 1.3
      }
      ul.hero-description{
        display: none;
      }
    }

